<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/blog.css">
</head>
<body> 
    <body>
        <%- include('./includes/header.ejs')%>
        <%- include('./includes/nav.ejs')%>
   <main class="main">
         <div class="container">
             <section class="blog">
                 <h1 class="blog-title">Oops! That page can't be found.</h1>
                 <p>It looks like nothing was found at this location.</p>
             </section>
             <aside class="aside">
                 <div class="about-me">
                     <h1 class="title">About me</h1>
                     <img src="/public/images/profile/profile.png" alt="name & surname" class="profile-image">
                     <p class="bio">
                        I am a proud Beagle owner who loves to share everything that I discover and learn about Beagles. BeagleCare.com is the ultimate resource for learning everything about your pet Beagle.
                     </p>
                 </div>
             </aside>
         </div>
     </main>
     <footer class="footer">
         <p class="copyright">&copy; <span class="year">2020</span> website.com </p>
     </footer>
     
     <script src="/public/js/main.js"></script>
     
</body>

</html>

