<header class="header">
    <div class="header-left">
        <button class="menu-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <a class="logout btn" href="/admin/logout">Logout</a>
</header>
