<aside class="aside">
    <div class="about-me">
        <h1 class="title">About me</h1>
        <img src="/public/images/profile/profile.png" alt="name & surname" class="profile-image" />
        <p class="bio"><%= homePage.bio%></p>
    </div>
</aside>
